@import '../../styles/_classes.scss';

.confirmModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $md-white;
  border-radius: $border-radius-card;
  box-shadow: $box-shadow-card;
  padding: $padding;

  h4 {
    margin-bottom: $margin;
    white-space: nowrap;
  }
}

.openConfirmModal {
  display: block;
}

.buttonBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6.5rem;

  button {
    max-height: 3rem;
  }
}
