@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: white;
  color: black;

  h3 {
    margin: $margin * 2;

    @include media-min-width($desktop-width) {
      font-size: $font-size * 2.5;
    }
  }
}

.ColorSplash {
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    $lighter-main-color,
    lighten($lighter-main-color, 3%)
  );
  // background: $lighter-main-color;
  border-radius: 100% / 10%;
  transform: scale(1.2);
  transition: $transition1;

  @include media-min-width($desktop-width) {
    border-radius: 100% / 20%;
  }
}

.ProjectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;

  .ProjectContent {
    p {
      margin: $margin * 2;
    }

    .Carousel {
      display: flex;
      width: 100%;
      overflow-y: auto;
    }
  }
}

.CarouselItem {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  margin: $margin;

  .ImgContainer {
    display: inline-block;

    img {
      max-width: 100%;
      max-height: 65vh;
      object-fit: contain;
      border-radius: $border-radius-button;
      box-shadow: $box-shadow-card;
    }
  }

  .Description {
    display: inline-block;
  }
}
