@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 125vh;
  background: $dark;
  color: white;

  h4 {
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0;
    padding: $padding 0;
    width: 100%;
    background: $dark;
    color: white;
    text-align: center;
    box-shadow: $box-shadow-dark;
  }
}

.ProjectItem {
  margin: $margin * 10 0;
  width: 100%;

  .Carousel {
    display: flex;
    width: 100%;
    overflow-y: auto;
  }
}

.CarouselItem {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 0 $padding;

  .ImgContainer {
    display: inline-block;
    margin: $margin;

    img {
      max-width: 100%;
      max-height: 65vh;
      object-fit: contain;
      border-radius: $border-radius-button;
      box-shadow: $box-shadow-card;
    }
  }

  .Description {
    display: inline-block;
    margin: $margin;
  }
}
