@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.PhotographyContainer {
  width: 100%;
  min-height: 100%;
  position: relative;
  background: $md-blue-gray;
  color: $md-white;

  h3,
  h5 {
    transition: $transition1;
  }

  @include media-min-width($desktop-width) {
    h3 {
      font-size: $font-size * 2.5;
    }

    h5 {
      font-size: $font-size * 1.5;
    }
  }
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $padding;
  position: relative;

  @include media-min-width($desktop-width) {
    justify-content: space-around;
  }

  .Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);

    h3 {
      margin: 0;
    }
  }

  .NavLink {
    display: inline-block;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
    transition: $transition2;

    @include media-min-width($desktop-width) {
      font-size: $font-size * 1.5;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.9);
      text-decoration: none;
    }
  }
}

.Blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding;
}

.Gallery {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  position: relative;

  .GalleryItem {
    width: 100%;
    height: 100vw;
    position: relative;
    cursor: pointer;

    @include media-min-width($desktop-width) {
      width: 50%;
      height: 50vw;
    }

    @include media-min-width($desktop-width * 1.5) {
      width: 33.3%;
      height: 33.3vw;
    }
  }
}

.ImgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 2s;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition1;
  }
}

.ImgContainerHover {
  @include media-min-width($desktop-width) {
    img {
      filter: blur(5px);
      transform: scale(1.1);
    }
  }
}

.Details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  padding: $padding;
  font-size: $font-size * 1.7;
  opacity: 0;
  transition: $transition1;
  text-align: center;

  h5 {
    margin: 0;
  }
}

.DetailsHover {
  @include media-min-width($desktop-width) {
    opacity: 1;
  }
}

.Card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.CardShow {
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 2;
}

.TouchApp {
  position: fixed;
  bottom: $margin * 2;
  left: 50%;
  transform: translateX(-50%) scale(1.4);
  opacity: 0.7;
  transition: $transition1;
  pointer-events: none;
}

.HideTouchApp {
  opacity: 0;
}

.LoaderContainer {
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $transition1;
  opacity: 0;
  animation: fadeIn 1s $timing-func-1 0s forwards;
}

.PhotoLoaderContainer {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $transition1;
  opacity: 0;
  animation: fadeIn 1s $timing-func-1 0s forwards;
}
