@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.PhotographyContainer {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  position: relative;

  h3,
  h5 {
    transition: $transition1;
  }

  @include media-min-width($desktop-width) {
    h3 {
      font-size: $font-size * 2.5;
    }

    h5 {
      font-size: $font-size * 1.5;
    }
  }
}

.Photography {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: $md-blue-gray;
  color: $md-white;
  position: absolute;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $padding;

  @include media-min-width($desktop-width) {
    justify-content: space-around;
  }
}

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);

  h3 {
    margin: 0;
  }
}

.NavLink {
  display: inline-block;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  transition: $transition2;

  @include media-min-width($desktop-width) {
    font-size: $font-size * 1.5;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
}

.Gallery {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.GalleryItem {
  width: 100%;
  height: 100vw;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  @include media-min-width($desktop-width) {
    width: 50%;
    height: 50vw;
  }

  @include media-min-width($desktop-width * 1.5) {
    width: 33.3%;
    height: 33.3vw;
  }

  @include media-min-width($desktop-width * 2) {
    width: 25%;
    height: 25vw;
  }
}

.ImgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: $transition1;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition1;
  }
}

.ImgContainerHover {
  @include media-min-width($desktop-width) {
    img {
      filter: blur(5px);
      transform: scale(1.1);
    }
  }
}

.Details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  padding: $padding;
  font-size: $font-size * 1.7;
  opacity: 0;
  transition: $transition1;
  text-align: center;

  h5 {
    margin: 0;
  }
}

.DetailsHover {
  @include media-min-width($desktop-width) {
    opacity: 1;
  }
}

.Card {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity $transition1, z-index 0s $transition-duration1;
  border-radius: 0;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.CardShow {
  opacity: 1;
  transition: opacity $transition1;
  z-index: 0;
}
