@import 'styles/_classes.scss';

.NavDrawerInner {
  background: $md-white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NavDrawerLinksContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
