@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.NavDrawerLinks {
  background: $md-white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
