@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

@include fade-out;
@include slide-y(textSlideY, 50%, 0%);

.Cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $dark;
  color: black;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;

  .Background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/lake_siskiyou.jpg');
    background-size: cover;
    background-position: top 55% left 20%;
    opacity: 0;
    animation: fadeIn 1s $timing-func-2 0.5s forwards;
  }

  .LightenFilter {
    position: absolute;
    width: 250vw;
    height: 100vh;
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, 0.8) 0%, transparent 35%);
    opacity: 0;
    animation: fadeIn 1s $timing-func-2 0.5s forwards;
    transform: scale(1.4);
  }
}

.CoverText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;

  @include media-min-width($desktop-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.Blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    user-select: none;
  }

  .Name,
  .Title {
    margin-bottom: $margin;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    animation: fadeIn 1.5s $timing-func-2 1s forwards,
      textSlideY 1s $timing-func-2 1s forwards;
    transition: $transition2;

    @include media-min-width($desktop-width) {
      font-size: $font-size * 4;
    }
  }

  .Title {
    @include media-min-width($desktop-width) {
      font-size: $font-size * 3;
      margin-bottom: 0;
    }
  }
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  padding: $padding $padding * 2;
  border-radius: $border-radius-card;
  margin-top: $margin * 2;
  opacity: 0;
  animation: fadeIn 1s $timing-func-2 1s forwards;
  transition: $transition2;

  &:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: $box-shadow;
  }

  @include media-min-width($desktop-width) {
    align-items: flex-start;
    margin-top: 0;
    margin-left: $margin * 2;
  }

  h6 {
    margin: $margin / 1.5 $margin / 2;
    transition: $transition2;
    font-weight: bold;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: $dark-adj-color;
    }

    @include media-min-width($desktop-width) {
      font-size: $font-size * 1.2;
    }
  }

  .SocialMedia {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: $margin / 2 0;

    .ImgContainer {
      width: 2rem;
      transition: $transition2;
      user-select: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center left;
      }
    }
  }
}
