@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

@include fade-out;
@include slide-y(textSlideY, 50%, 0%);

.Cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $dark;
  color: black;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;

  .Background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/DSC_9569.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center left 25%;
    opacity: 0;
    animation: fadeIn 1s $timing-func-2 0.5s forwards;
  }

  .Blur {
    position: absolute;
    width: 250vw;
    height: 100vh;
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, 0.8) 0%, transparent 35%);
    opacity: 0;
    animation: fadeIn 1s $timing-func-2 0.5s forwards;
  }
}

.CoverText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;

  @include media-min-width($desktop-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.Blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Name,
  .Title {
    margin-bottom: $margin;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    animation: fadeIn 1.5s $timing-func-1 1s forwards,
      textSlideY 1s $timing-func-1 1s forwards;

    @include media-min-width($desktop-width) {
      font-size: $font-size * 4;
    }
  }

  .Title {
    @include media-min-width($desktop-width) {
      font-size: $font-size * 3;
      margin-bottom: 0;
    }
  }
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  padding: $padding $padding * 2;
  border-radius: $border-radius-card;
  margin-top: $margin * 2;
  opacity: 0;
  animation: fadeIn 1s $timing-func-1 2s forwards;

  @include media-min-width($desktop-width) {
    align-items: flex-start;
    margin-top: 0;
    margin-left: $margin * 2;
  }

  h5 {
    margin: $margin / 2 0;
    transition: $transition2;

    &:hover {
      cursor: pointer;
      color: $dark-opp-color;
      transform: scale(1.2);
    }
  }

  .SocialMedia {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: $margin / 2 0;

    .ImgContainer {
      width: 2rem;
      transition: $transition2;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center left;
      }
    }
  }
}
