@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.FitnessContainer {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;

  h3,
  h5 {
    transition: $transition1;
  }

  @include media-min-width($desktop-width) {
    h3 {
      font-size: $font-size * 2.5;
    }

    h5 {
      font-size: $font-size * 1.5;
    }
  }
}

.Fitness {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: white;
  color: black;

  p {
    margin-bottom: $margin / 3;
  }
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $padding;

  @include media-min-width($desktop-width) {
    width: 66vw;
    max-width: 80rem;
  }
}

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  h3 {
    margin: 0;
  }
}

.NavLink {
  display: inline-block;
  height: 100%;
  color: rgba(0, 0, 0, 0.4);
  transition: $transition2;

  @include media-min-width($desktop-width) {
    font-size: $font-size * 1.5;
  }

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.Banner {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/pullup.jpg') no-repeat center left 24%;
  background-size: cover;
  background-attachment: fixed;
  transition: $transition1;

  @include media-min-width($desktop-width) {
    height: 75vh;
  }

  .QuoteContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    .Quote {
      margin: $margin;
      color: white;

      h1 {
        font-size: 2rem;
      }

      @include media-min-width($desktop-width) {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}

.Current {
  width: 100%;

  h3 {
    margin: $margin;
  }

  @include media-min-width($desktop-width) {
    max-width: 80rem;
  }

  .NutritionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $margin;
    overflow: hidden;

    .Nutrition {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      .Macros {
        margin: $margin;
        padding: $padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .DietContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $margin;

    .Diet {
      display: flex;
      flex-flow: row wrap;

      .Meal {
        width: 100%;
        margin: $margin / 2 0;

        @include media-min-width($desktop-width) {
          width: auto;
          margin: $margin;
        }
      }
    }
  }

  .WorkoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $margin;

    .Workout {
      display: flex;
      flex-flow: row wrap;

      .Day {
        width: 100%;
        margin: $margin / 2 0;

        @include media-min-width($desktop-width) {
          width: auto;
          margin: $margin;
        }
      }
    }
  }
}

.TimelineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h3 {
    margin: $margin;
  }

  @include media-min-width($desktop-width) {
    max-width: 50rem;
  }

  .Timeline {
    width: 100%;
    padding: $padding;
  }
}

.YearSection {
  display: flex;
  flex-direction: column;
  padding-bottom: $padding;
  margin-bottom: $margin;
  border-bottom: 2px solid $bright;

  @include media-min-width($desktop-width) {
    padding-bottom: $padding * 2;
    margin-bottom: $margin * 2;
  }
}

.YearSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
