@import './src/styles/_classes.scss';

.orderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding * 3 $padding;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 0.2rem;
    width: 80%;
    border-bottom: 0.2rem solid transparentize($md-blue-gray, 0.93);
  }

  &:last-child:after {
    border-bottom: none;
  }

  @include media-min-width($desktop-width) {
    flex-direction: row;
  }

  .orderItemPhoto {
    width: 100%;
    max-width: 30rem;

    img {
      width: 100%;
    }
  }

  .orderItemDetails {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: $margin;
    max-width: 40rem;

    @include media-min-width($desktop-width) {
      margin-left: $margin * 3;
    }

    .text {
      display: flex;
      flex-direction: column;
    }

    .cartSection {
      display: flex;
      align-items: center;
      flex-flow: row wrap;

      h4 {
        margin: 0;
        margin-right: $margin * 1.5;
      }

      .addToCartContainer {
        width: 8rem;
        height: 2.7rem;
      }
    }
  }
}
