@import '../../../styles/_classes.scss';

.modal {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background: $md-white;
  color: $md-blue-gray;
  padding: $padding * 2;
  transition: $transition2;

  @include media-min-width($desktop-width) {
    width: 90%;
    max-width: 50rem;
    height: 75vmin;
    top: 50%;
    transform: translateY(-50%);
    border-radius: $border-radius-card;
    box-shadow: $box-shadow-card;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .closeModalTimesButtonContainer {
      width: $fab-size-mini;
      height: $fab-size-mini;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .closeModalButtonContainer {
      width: 3rem;
      height: 2rem;
    }

    .checkoutButtonContainer {
      width: 7rem;
      height: 2.7rem;
      margin-right: $margin * 1.5;
    }
  }
}

.modalContent {
  width: 100%;
  height: 100%;
  margin: $margin * 2 0;
  overflow: auto;
}

.open {
  display: flex;
}
