@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.PassionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $padding * 3 $padding;
  overflow: hidden;
  background: $md-blue-gray;
}

.Passions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  @include media-min-width($desktop-width) {
    flex-direction: row;
    align-items: flex-start;
  }

  .Passion {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin: $margin 0;

    @include media-min-width($desktop-width) {
      margin: $margin;
    }

    h5 {
      margin-top: $margin / 2;
      text-align: center;
    }

    p {
      text-align: center;
      margin-top: $margin;
      color: darken($md-white, 25%);
    }

    a {
      color: $md-white;
      font-weight: bold;
    }
  }
}
