@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 35rem;
}

.Skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  p {
    margin: $margin / 4 0;
    min-width: 6rem;
    text-align: center;
    margin-right: $margin;
    height: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
  }

  .Bar {
    position: relative;
    width: 100%;
    max-width: 25rem;
    height: 1.2rem;
    margin: $margin / 4 0;
    background: lighten($md-blue-gray, 50%);
  }
}

.C {
  position: absolute;
  width: 75%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.CPP {
  position: absolute;
  width: 75%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.Express {
  position: absolute;
  width: 25%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.Git {
  position: absolute;
  width: 70%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.Gulp {
  position: absolute;
  width: 40%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.HTML {
  position: absolute;
  width: 65%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.JavaScript {
  position: absolute;
  width: 75%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.Mlab {
  position: absolute;
  width: 25%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.Node {
  position: absolute;
  width: 40%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.Postman {
  position: absolute;
  width: 25%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.Python {
  position: absolute;
  width: 70%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.React {
  position: absolute;
  width: 70%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.SASSYCSS {
  position: absolute;
  width: 65%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}

.VSCode {
  position: absolute;
  width: 75%;
  height: inherit;
  background: $md-blue-gray;
  transform: scaleX(0);
}
