@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Resume {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  background: white;
  color: black;
  padding: $padding * 2 $padding;

  h5 {
    text-align: center;
    margin-bottom: $margin;
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  @include media-min-width($desktop-width) {
    flex-direction: row;
    align-items: flex-start;
    padding: $padding * 2;
  }
}

.Left {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Education {
    display: flex;
    flex-direction: column;

    h6 {
      margin: 0;
    }
  }

  .Technologies {
    display: flex;
    flex-direction: column;
    margin-top: $margin * 2;

    .TechnologiesDetails {
      display: flex;
      justify-content: space-around;
      width: 90vw;

      @include media-min-width($desktop-width) {
        width: auto;

        div {
          margin-right: $margin;
          white-space: nowrap;
        }
      }
    }
  }
}

.Experience {
  display: flex;
  flex-direction: column;
  margin-top: $margin * 2;

  div {
    &:first-of-type {
      display: flex;
      justify-content: space-between;
    }
  }

  .CompanyDescription {
    margin-bottom: $margin / 2;
  }

  @include media-min-width($desktop-width / 1.5) {
    padding: $padding * 2;
  }

  @include media-min-width($desktop-width) {
    margin-top: 0;
    margin-left: $margin * 2;
    padding: 0;
  }
}
