@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  background: transparent;
  color: $md-blue-gray;
  padding: $padding;
}

.File {
  box-shadow: $box-shadow-card;
}
