@import './src/styles/_classes.scss';

.Layout {
  width: 100%;
  height: 100vh;
}

.LayoutInner {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: $height * 4;
}
