@import './src/assets/scss/_variables.scss';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: $border-radius-button;
  box-shadow: $box-shadow;
  transition: $transition2;
  user-select: none;
  appearance: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.Link {
  font-weight: bold;
  background: none;
  box-shadow: none;
}

.LinkTouchHover {
  transition: none;
  color: $dark-adj-color;
}

.LinkMouseHover {
  color: $dark-adj-color;
}

.Circle {
  border-radius: 50%;
  box-shadow: $box-shadow-fab;
}

.Adj {
  background: $adj-color;
}

.AdjTouchHover {
  transition: none;
  background: $dark-adj-color;
}

.AdjMouseHover {
  background: $dark-adj-color;
}

.Opp {
  background: $opp-color;
}
