@import 'styles/_classes.scss';

.About {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-min-height(41.5rem) {
    justify-content: center;
  }
}

.ProfilePictureContainer {
  margin: $margin * 2;

  img {
    width: 100%;
    max-width: 12rem;
    border-radius: 50%;
    box-shadow: $box-shadow-fab;
  }
}

.Description {
  margin: $margin;
  max-width: 25rem;

  .PunchLine {
    margin-bottom: $margin * 2;

    h4 {
      text-align: center;
    }
  }
}

.SocialMedia {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 25rem;
  margin: $margin * 2;

  a {
    transition: $transition3;

    &:hover {
      text-decoration: none;
      transform: scale(1.2);
    }
  }
}
