@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

@include shake;
$md-white-dark: darken($md-white, 25%);
$skill25: 25%;
$skill40: 40%;
$skill50: 50%;
$skill65: 65%;
$skill75: 75%;

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $md-blue-gray;
  color: $md-white;
  position: relative;

  h5 {
    transition: $transition1;
  }

  h5 {
    @include media-min-width($desktop-width) {
      font-size: $font-size * 1.5;
    }
  }

  .SlideShowContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background: $md-blue-gray;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 70% 75%;
    }

    .ScrollIndicator {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translate(-50%, -100%);
      animation: shake 2s infinite;
      opacity: 0.5;
    }
  }

  .FeaturesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    position: relative;
  }

  .ColorSplash {
    width: 100%;
    height: 66%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    background: $md-blue-gray;
    transform: scale(1.2);
    transition: $transition1;
    border-radius: 100% / 15%;

    @include media-min-width($desktop-width) {
      border-radius: 100% / 25%;
    }
  }
}

.AboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $padding * 3 $padding;
  overflow: hidden;

  h5 {
    margin-top: $margin / 2;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: $margin;
    color: $md-white-dark;
  }

  .AboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    @include media-min-width($desktop-width) {
      flex-direction: row;
      align-items: center;
    }

    .Profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include media-min-width($desktop-width) {
        margin-left: $margin;
      }

      .PictureContainer {
        width: 15rem;
        min-width: 15rem;
        min-height: 15rem;
        height: 15rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: $box-shadow-card;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: translateY(10%) scale(1.25);
        }
      }

      .SocialMedia {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        a {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: $margin;
          text-decoration: none;
          transition: $transition2;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .Intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 25rem;
      margin-bottom: $margin * 2;

      @include media-min-width($desktop-width) {
        margin-bottom: 0;
      }
    }
  }
}

.SkillsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: $padding * 3 $padding;
  background: $md-white;
  color: $md-blue-gray;

  .Skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;

    .Skill {
      display: flex;
      align-items: center;
      width: 100%;

      p {
        margin: $margin / 4 0;
        min-width: 5rem;
        text-align: center;
        margin-right: $margin;
        height: 1.2rem;
        line-height: 1.2rem;
        font-weight: bold;
      }

      .Bar {
        position: relative;
        width: 100%;
        max-width: 25rem;
        height: 1.2rem;
        margin: $margin / 4 0;
        background: lighten($md-blue-gray, 50%);
      }
    }

    .C {
      position: absolute;
      width: $skill75;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .CPP {
      position: absolute;
      width: $skill75;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .Express {
      position: absolute;
      width: $skill25;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .Git {
      position: absolute;
      width: $skill75;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .Gulp {
      position: absolute;
      width: $skill50;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .HTML {
      position: absolute;
      width: $skill65;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .JavaScript {
      position: absolute;
      width: $skill75;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .Mlab {
      position: absolute;
      width: $skill25;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .Node {
      position: absolute;
      width: $skill40;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .Postman {
      position: absolute;
      width: $skill25;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .React {
      position: absolute;
      width: $skill75;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .SASSYCSS {
      position: absolute;
      width: $skill65;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }

    .VSCode {
      position: absolute;
      width: $skill75;
      height: inherit;
      background: $md-blue-gray;
      transform: scaleX(0);
    }
  }
}

.PassionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $padding * 3 $padding;
  overflow: hidden;

  h5 {
    margin-top: $margin / 2;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: $margin;
    color: $md-white-dark;
  }

  .Passions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    @include media-min-width($desktop-width) {
      flex-direction: row;
      align-items: flex-start;
    }

    .Passion {
      display: flex;
      flex-direction: column;
      max-width: 25rem;
      margin: $margin 0;

      @include media-min-width($desktop-width) {
        margin: $margin;
      }

      a {
        color: $md-white;
        font-weight: bold;
      }
    }
  }
}

.Handle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  input {
    width: 10.5rem;
    color: $md-white;
    background: $md-blue-gray;
  }

  div {
    display: flex;
    align-items: center;

    .EmailContainer {
      width: 10.5rem;
    }
  }
}

.LoaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  z-index: 1;
}

.DisplayNone {
  display: none;
}

.Copy {
  width: $fab-size-mini;
  height: $fab-size-mini;
}
