@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

@include fade-out;
@include slide-y(textSlideY, 50%, 0%);

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $dark;
  color: white;
  width: 100%;
  height: 101vh;

  .Title {
    transform: translateY(100%);
    animation: fadeIn 1s $timing-func-1 0.5s forwards,
      textSlideY 1s $timing-func-1 0.5s forwards;
  }

  .Blurb {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .BlurbEnds {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .BlurbBegin {
      margin-right: $margin;
      animation: fadeIn 0.5s $timing-func-1 1.5s forwards,
        textSlideY 0.5s $timing-func-1 1.5s forwards,
        fadeOut 0.5s $timing-func-1 4s forwards;
    }

    p {
      &:active {
        color: $light-adj-color;
      }

      &:hover {
        cursor: pointer;
        color: $light-adj-color;
      }
    }

    .BlurbTitle1 {
      animation: fadeIn 0.5s $timing-func-1 1.5s forwards,
        textSlideY 0.5s $timing-func-1 1.5s forwards;
    }

    .BlurbTitle2 {
      animation: fadeIn 0.5s $timing-func-1 2.5s forwards,
        textSlideY 0.5s $timing-func-1 2.5s forwards;
    }

    .BlurbEnd {
      margin-top: $margin * 2.5;
      margin-right: $margin;
      animation: fadeIn 0.5s $timing-func-1 3.5s forwards,
        textSlideY 0.5s $timing-func-1 3.5s forwards,
        fadeOut 0.5s $timing-func-1 5s forwards;
    }

    .BlurbTitle3 {
      animation: fadeIn 0.5s $timing-func-1 3.5s forwards,
        textSlideY 0.5s $timing-func-1 3.5s forwards;
    }
  }
}
