@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: white;
  color: black;
  box-shadow: $box-shadow;

  .Me {
    width: 100%;
    height: 75vh;
    background: url('../../assets/images/me.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow: $box-shadow-dark;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $padding * 2 $padding;
    box-shadow: $box-shadow-card;
    background: white;

    @include media-min-width($desktop-width) {
      padding: $padding * 2;
      margin: $margin * 3 0;
      width: 66%;
      max-width: 60rem;
    }

    p {
      text-indent: 5%;
    }
  }
}

.Question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Passions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: $opp-adj-color;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: $dark-opp-adj-color;
    }
  }
}

.Contact {
  width: 100%;
  margin-top: $margin;

  @include media-min-width($desktop-width) {
    text-align: center;
  }
}
