@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Home {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .Title {
    transform: translateY(100%);
    animation: fadeIn 1s linear 0.5s forwards,
      titleSlideY 1s linear 0.5s forwards;

    @include slideY(titleSlideY, 100%, 50%);
  }

  .Blurb {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .BlurbBegin {
      margin-right: $margin;
      animation: fadeIn 1s linear 1s forwards,
        blurbBeginSlideY 1s cubic-bezier(0.19, 0.95, 1, 0.1) 2s forwards,
        fadeOut 0.5s linear 4s forwards;

      @include slideY(blurbBeginSlideY, 0%, 5.1rem);
    }

    .BlurbTitle1 {
      animation: fadeIn 0.5s linear 1s forwards, centerX;
    }

    .BlurbTitle2 {
      animation: fadeIn 0.5s linear 2s forwards;
    }

    .BlurbTitle3 {
      animation: fadeIn 0.5s linear 3s forwards, slide 1s linear 0.5s forwards;
    }
  }
}

.Projects {
  width: 100%;
  height: 100vh;
  background: white;
  color: black;
}

.Photography {
  width: 100%;
  height: 100vh;
}

.Calisthenics {
  width: 100%;
  height: 100vh;
  background: white;
  color: black;
}

.Hide {
  opacity: 0;
}

.Show {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
