@import 'styles/_classes.scss';
@import 'styles/_variables.scss';

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;

  @include media-min-width($desktop-width) {
    justify-content: space-around;
  }
}

.NavBarRight {
  display: flex;
}

.White {
  background: transparentize($md-white, 0.07);
  box-shadow: $box-shadow;
}

.NavBarHomeLink {
  opacity: 0;
  pointer-events: none;
  transition: $transition1;
}

.Clickable {
  opacity: 100;
  pointer-events: all;
}

.NavBarLinks {
  display: none;

  @include media-min-width($desktop-width) {
    display: flex;
  }
}

.NavBarDrawerToggle {
  display: block;
  width: $fab-size-mini;
  height: $fab-size-mini;
  margin: 0 $margin-tiny * 2;

  @include media-min-width($desktop-width) {
    display: none;
  }
}
