@import './src/styles/_classes.scss';

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  position: relative;
  margin-top: $margin;

  @include media-min-width($desktop-width) {
    height: 8rem;
    margin-top: $margin * 2;
    padding: 0 $padding;
  }

  p {
    margin: 0;
  }
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  .photo {
    display: none;

    @include media-min-width($desktop-width) {
      display: block;
      height: 100%;

      img {
        height: 100%;
      }
    }
  }

  p {
    margin-left: $margin;
  }
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin-right: $margin;

    @include media-min-width($desktop-width) {
      margin-right: $margin * 2;
    }
  }

  .removeItemContainer {
    width: $fab-size-mini;
    height: $fab-size-mini;
  }
}
