@import './src/assets/scss/_variables.scss';

.Carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.CarouselTrack {
  display: flex;
  height: 100%;
  position: absolute;
  transition: $transition1;
}

.CarouselItem {
  width: 100%;
  height: 100%;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.ObjectPosition25Center {
  img {
    object-position: 25% center;
  }
}

.CarouselLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100%;
}

.CarouselRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100%;
}

.CarouselIndicators {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.CarouselIndicator {
  width: 0.5rem;
  height: 0.5rem;
  background: lighten($md-gray, 5%);
  border-radius: 50%;
  margin: $margin / 2;
  transition: $transition1;
  cursor: pointer;
}

.ActiveIndicator {
  background: $md-white;
}
