@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Layout {
  width: 100%;
  height: 100vh;
}

.Nav {
  width: 100%;
  min-height: $height * 3;
  position: fixed;
  z-index: 1;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: $transition3;
}

.Name {
  opacity: 0;
  font-size: $font-size * 1.2;
  pointer-events: none;
  transition: $transition3;
  white-space: nowrap;
}

.Clickable {
  opacity: 100;
  pointer-events: all;
}

.NavLinksContainer {
  display: flex;
  align-items: center;
}

.NavLinks {
  display: none;
  opacity: 0;
  animation: fadeIn 1.5s $timing-func-1 1s forwards;

  @include media-min-width($desktop-width) {
    display: flex;
  }
}

.NavDrawerLinks {
  background: $md-white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.White {
  background: transparentize($md-white, 0.1);
  box-shadow: $box-shadow;
}

.DrawerToggle {
  display: block;
  width: $fab-size-mini;
  height: $fab-size-mini;
  margin: 0 $margin-tiny * 2;

  @include media-min-width($desktop-width) {
    display: none;
  }
}
